[submodule "boringssl"]
	path = boringssl
	url = https://boringssl.googlesource.com/boringssl
[submodule "core"]
	path = core
	url = https://android.googlesource.com/platform/system/core
[submodule "extras"]
	path = extras
	url = https://android.googlesource.com/platform/system/extras
[submodule "libusb"]
	path = libusb
	url = https://android.googlesource.com/platform/external/libusb
[submodule "selinux"]
	path = selinux
	url = https://android.googlesource.com/platform/external/selinux
