[submodule "boringssl"]
	path = boringssl
	url = https://boringssl.googlesource.com/boringssl
[submodule "core"]
	path = core
	url = https://android.googlesource.com/platform/system/core
[submodule "extras"]
	path = extras
	url = https://android.googlesource.com/platform/system/extras
[submodule "libusb"]
	path = libusb
	url = https://android.googlesource.com/platform/external/libusb
[submodule "mdnsresponder"]
	path = mdnsresponder
	url = https://android.googlesource.com/platform/external/mdnsresponder
[submodule "pcre"]
	path = pcre
	url = https://android.googlesource.com/platform/external/pcre
[submodule "selinux"]
	path = selinux
	url = https://android.googlesource.com/platform/external/selinux
